*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black; 
     color: white; 
}

.left{
    width:25vw;
    padding: 10px;

}
.right{
    width:75vw;
position: relative;
}
.home{
    padding:10px ;
}
.home ul li{
    display: flex;
    width:14px;
    list-style: none;
    padding-top: 14px;
    gap: 15px;
    list-style: none;
    font-weight: bold;
}
.heading{
    display: flex;
    width:100%;
    gap: 15px;
    font-weight: bold;
    padding-top: 14px;
    align-items: center;
}
.heading img{
    width: 30px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: grey;
}
.right{
    margin: 16px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 31);
    height: 72px;
}
.header >*{
    padding: 20px;
}
.spotifyplaylist{
    padding: 16px;
}
.spotifyplaylist .card{
    width:150px
}
.cardcontainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 60vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    position: relative;
}
.card >*{
    padding-top:10px
}
.card img{
    width="100%"
    object-fit: contain ;
}
.play{
    width: 28px;
    position: absolute;
    top: 46px;
    right: 45px;
    opacity: 0;
    transition: all 1s ease-out;
}
.buttons>*{
    margin: 0 12px;
}
.signupbtn{
    background-color: black;
    color: grey;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover {
    font-size: 17px;
    color: white;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color: aqua;
    width: 100%;
    padding:12px ;
}
.songbutton{
    display: flex;
    justify-content: center;
    gap: 16px;
}